@charset "UTF-8";
@import url("pixeloid.css");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #191919;
    --white: #fff;
    --accent: #5AC75C;
    --dim-accent: #245825;
    --bright-accent: #72d774;

    --body-font: "Pixeloid Sans", sans-serif;
    --mono-font: "Pixeloid Mono", monospace;

    font-family: var(--body-font);
    color: var(--white);
    background-color: var(--black);
}

body {
    display: grid;
    place-items: center;
    /* Fallback for browsers that don't support dvh units: */
    min-height: 100vh;
    /* 100dvh as opposed to vh accounts for the address bar on mobile. */
    min-height: 100dvh;
}

input,
button {
    font-family: var(--body-font);
}

.logo {
    image-rendering: pixelated;
    width: 100%;
    aspect-ratio: auto;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* Stolen from: https://moderncss.dev/practical-uses-of-css-math-functions-calc-clamp-min-max/#the-modern-css-container-class */
    width: min(50ch, 100vw - 2rem);
    aspect-ratio: 1.618;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4rem;

    padding-inline: 0.5rem;
}

.group {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.text-input {
    width: 100%;
    font-size: 1.2rem;

    border: none;
    border-bottom: 4px solid var(--dim-accent);
    color: var(--white);
    background-color: #191919;

    padding: 0.5rem;

    margin-block-end: 1rem;
    transition: border-color 0.2s ease-in-out;
}

.text-input:not(:focus) {
    cursor: pointer;
}

.text-input:focus,
.text-input:hover {
    outline: none;
    border-bottom: 4px solid var(--accent);
}

.text-input::placeholder {
    color: var(--accent);
    transition: opacity 0.2s ease-in-out;
}

.text-input:focus::placeholder {
    opacity: 0.75;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-group__primary {
    margin-inline-start: auto;
}

.btn {
    font-size: 1.4rem;
    padding: .25rem 1rem;

    color: var(--white);
    background-color: var(--accent);

    border-radius: 0;
    border: 4px outset var(--accent);

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus-within {
    background-color: var(--bright-accent);
    border-style: solid;
}